<!DOCTYPE html>
<html>
  <head>
    <title>Todo List Export</title>
    <link rel="stylesheet" type="text/css" href="export.css" />
  </head>

  <body>
    <h1>Here's all the todos!</h1>

    <ul>
      <% @todos.each do |todo| %>
        <li>
          <%= todo.title %> (<%= todo.completed? %>)
        </li>
      <% end %>
    </ul>
  </body>
</html>
